%div{data: { role:'content' }}
  %table#test-drives-table.test-drives-list.table-stroke{data: { mode:'reflow', role:'table' }}
    %thead
      %tr
        %th Trip #
        %th End
        %th Duration
        %th Miles
    %tbody
      - for trip in @trips.reverse
        %tr
          %th.title= link_to trip[:id], "/test-drives/#{trip[:id]}"
          %td= trip.time_ago
          %td= trip.duration_time
          %td= trip.miles_rounded