%table.pure-table{cellpadding:'0', cellspacing:'0', style:'background-color:#939ca1;border:0 none'}


%table#test-drives.pure-table.pure-table-horizontal
  %thead
    %tr
      %td.trip-stat-banner{colspan:'9'}
        %div{style:'padding:10px 0'}
          %span{style:'margin-right:25px; text-shadow:none'}
            = active_link_to 'Today', '/test-drives', class: 'pure-button pure-button-small', class_active: 'pure-button-success', active: :exclusive
            = active_link_to 'This week', '/test-drives/week', class: 'pure-button pure-button-small', class_active: 'pure-button-success', active: :exclusive

          = @trips.count
          %em Trips

          = @total_miles
          %em Miles

          = @total_duration
          %em Time
    %tr
      %th Map
      %th Age
      %th Vehicle
      %th Miles
      %th Style
      %th Idle
      %th Duration
      %th Left Test Drive Area
      %th # of Test Drives
  - for trip in @trips
    %tr
      %td
        %a{href: "/test-drives/#{trip.id}"} show
      %td= trip.time_ago
      %td= trip.device.vehicle.car.name rescue trip.device_id
      %td= trip.miles_rounded
      %td{class: "style-#{trip.style.tr(' ', '-')}"}= trip.style
      %td= trip.idle_minutes
      %td= trip.duration_time
      %td= trip.has_geofence_violations
      %td= trip.trip_number