.panel.panel-default
  .panel-heading
    .btn-group{style: 'margin-right:15px'}
      = active_link_to 'Today', '/test-drives', class: 'btn btn-default btn-sm', class_active: 'btn-success', active: :exclusive
      = active_link_to 'This week', '/test-drives/week', class: 'btn btn-default btn-sm', class_active: 'btn-success', active: :exclusive

    %span.heading-stats
      = @trips.count
      %em Trips

      = @total_miles
      %em Miles

      = @total_duration
      %em Time


  .panel-body
    %table.table
      %thead
        %tr
          %th Map
          %th Age
          %th Vehicle
          %th Miles
          %th Style
          %th Idle
          %th Duration
          %th Left Test Area
          %th Test Drives
      - for trip in @trips
        %tr
          %td
            %a{href: "/test-drives/#{trip.id}"} show
          %td= trip.time_ago
          %td= trip.device.vehicle.car.name rescue trip.device_id
          %td= trip.miles_rounded
          %td{class: "style-#{trip.style.tr(' ', '-')}"}= trip.style
          %td= trip.idle_minutes
          %td= trip.duration_time
          %td= trip.has_geofence_violations
          %td= trip.trip_number