%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {class: 'pure-form pure-form-aligned'}) do |f|
  = devise_error_messages!
  %fieldset
    .pure-control-group
      = f.label :email
      = f.email_field :email, :autofocus => true

    .pure-control-group
      = f.label :password
      = f.password_field :password

    .pure-control-group
      = f.label :password_confirmation
      = f.password_field :password_confirmation

    .pure-controls
      = f.submit "Sign up", class: 'pure-button pure-button-primary'

    = render "devise/shared/links"