= search_form_for @search, {html:{class:'pure-form pure-form-stacked'}} do |f|
  .pure-g-r{style:'background-color:#939CA1; padding:10px 0 10px 12px'}
    .pure-g-r{style:'color:white; font-size:14px; text-shadow:0 1px 0 #02375F'}
      .pure-u-1-5
        = f.label :vehicle_car_year_cont, "Year"
        = f.text_field :vehicle_car_year_cont

      .pure-u-1-5
        = f.label :vehicle_car_make_cont, "Make"
        = f.text_field :vehicle_car_make_cont

      .pure-u-1-5
        = f.label :vehicle_car_model_cont, "Model"
        = f.text_field :vehicle_car_model_cont

    .pure-g-r{style:'color:white; font-size:14px; text-shadow:0 1px 0 #02375F'}
      .pure-u-1-5
        = f.label :vehicle_vehicle_usage_name_cont, "Usage"
        = f.text_field :vehicle_vehicle_usage_name_cont

      .pure-u-1-5
        = f.label :vehicle_vin_cont, "VIN"
        = f.text_field :vehicle_vin_cont

      .pure-u-1-5
        = f.label :vehicle_car_color_cont, "Color"
        = f.text_field :vehicle_car_color_cont

    .pure-u-3-5
      = link_to 'Reset', '#', class: 'pure-button', id: 'resetForm'
      = f.submit 'Search', class: 'pure-button pure-button-primary'

:coffeescript
  $('#resetForm').on 'click', ->
    $('#device_search input[type=text]').val ''


%table.pure-table.pure-table-horizontal
  %thead
    %tr
      %th Status
      %th Year Make Model
      %th Usage
      %th Battery
      %th DTC
      %th VIN
      %th Car Color

  - @devices.each do |device|
    %tr
      %td
        %i{class: device.status}
      %td
        = link_to device.vehicle.car.name, device_path(device)
      %td= device.vehicle.vehicle_usage.name
      %td{style: device.battery_issue && 'color:red'}= device.latest_history && "#{device.latest_history.vbatt}v"
      %td= device.dtc_issue ? link_to('active', device_path(device)) : ''
      %td= device.vehicle.vin
      %td= device.vehicle.car_color
