%h3= @device.vehicle.car.name

.pure-g-r
  .pure-u-1-3
    .dashboard-panel-header
      Summary

    %p
      %strong Engine Hours:
      = @engine_hours

    %p
      %strong Trips:
      = @total_trips

    %p
      %strong Miles Driven:
      = @total_miles

    %p
      %strong Battery:
      = @current_vbatt

  .pure-u-1-3
    .dashboard-panel-header
      Current Issues

    %strong Engine:

    - if @device.dtc_issue
      %ul{style: 'list-style-type:none; padding-left:0'}
        - @device.latest_history.dtc_codes.split(',').each do |dtc_code|
          - dtc_details = Reading.dtc_description(dtc_code)
          %li{style:'padding-bottom:10px'}
            %a.toggler{id: dtc_code}= dtc_details[:description]

            %div{id: "#{dtc_code}-details", style: 'display:none; padding-top:10px'}
              %strong Causes
              = raw(dtc_details[:causes])
              %strong Solutions
              = raw(dtc_details[:solutions])

      :coffeescript
        $('a.toggler').bind 'click', (e) ->
          $('#' + e.target.id + '-details').toggle()

        window.toggleDtcDetails = (divId) ->
          $('#' + divId).toggle()

    - else
      No issues.

    %br
    %br

    %strong Battery:
    No issues.

    - @previous_dtc_codes.each_pair do |date, codes|
      -#%h3= date
      - for code in codes
        -#%p= code[:description]



  .pure-u-1-3
    .dashboard-panel-header


.dashboard-panel-header
  Battery History

= line_chart @vbatt_chart_hash