%h3= @device.vehicle.car.name

.row
  .col-xs-4
    .panel.panel-default
      .panel-heading Summary
      .panel-body
        %p
          %strong Engine Hours:
          = @engine_hours

        %p
          %strong Trips:
          = @total_trips

        %p
          %strong Miles Driven:
          = @total_miles

        %p
          %strong Battery:
          = @current_vbatt
  .col-xs-4
    .panel.panel-default
      .panel-heading
        Current Issues&nbsp;
        %span#dtc-count.badge.badge-muted 0

      %ul.list-group
        %li.list-group-item
          %div
            %strong Engine:

            - if @device.dtc_issue

              - dtc_codes = @device.latest_history.dtc_codes.split(',')

              :coffeescript
                $('#dtc-count').text #{dtc_codes.count}

              %ul{style: 'list-style-type:none; padding-left:0'}

                - dtc_codes.each do |dtc_code|
                  - dtc_details = Reading.dtc_description(dtc_code)
                  %li{style:'padding-bottom:10px'}
                    %a.toggler{id: dtc_code}= dtc_details[:description]

                    %div{id: "#{dtc_code}-details", style: 'display:none; padding-top:10px'}
                      %strong Causes
                      = raw(dtc_details[:causes])
                      %strong Solutions
                      = raw(dtc_details[:solutions])

              :coffeescript
                $('a.toggler').bind 'click', (e) ->
                  $('#' + e.target.id + '-details').toggle()

                window.toggleDtcDetails = (divId) ->
                  $('#' + divId).toggle()

            - else
              No issues.

        %li.list-group-item
          %div
            %strong Battery:
            No issues.



.panel.panel-default
  .panel-heading Battery History
  .panel-body= line_chart @vbatt_chart_hash