.dashboard-panel-header
  Battery History

= line_chart @vbatt_chart_hash

.pure-g-r
  .pure-u-1-3
    .dashboard-panel-header
      Summary

    %p
      %strong Engine Hours:
      = @engine_hours

    %p
      %strong Trips:
      = @total_trips

    %p
      %strong Miles Driven:
      = @total_miles

    %p
      %strong Battery:
      = @current_vbatt

  .pure-u-1-3
    .dashboard-panel-header
      Engine Issues

    - @previous_dtc_codes.each_pair do |date, codes|
      %h3= date
      - for code in codes
        %p= code[:description]

    - if @previous_dtc_codes.count == 0
      No issues.

  .pure-u-1-3
    .dashboard-panel-header
      Connectivity Issues

    No issues.