- content_for :ng_app, 'zin'

%script
  window.allServiceNotifications = #{raw(@service_notifications)}
  window.allDealerLots = #{raw(@dealer_lots.to_json)}

-#= form_for @campaign, html: {class: 'form form-horizontal', name: 'new_campaign_form'} do |f|
%form.form.form-horizontal{name: 'new_campaign_form', ng: {submit: 'addOrUpdate()'}}
  -# if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg
          
  .row
    .col-xs-5
      -# = f.text_field :name, required: true, class: 'form-control form-signin', placeholder: 'Campaign name'
      %input.form-control{ng: {model: 'campaign.name'}, placeholder: 'Campaign name'}
  .row
    .col-xs-5
      -# = f.text_field :coupon_codes, class: 'form-control form-signin', placeholder: 'Coupon codes'
      %input.form-control{ng: {model: 'campaign.coupon_codes'}, placeholder: 'Coupon codes'}
  
  .row
    .col-xs-12.form-signin
      %label Lot:&nbsp;
      -# = f.select :dealer_lot_id, options_from_collection_for_select(@dealer_lots, 'id', 'name', @campaign.dealer_lot_id), {}, {class: 'form-control'}
      %select{ng: {model: 'dealer_lot', options: 'd.name for d in allDealerLots'}}
  
  .row
    .col-xs-12
      -# = f.label :email_time
      %select#campaign_email_time_4i{ng: {model: 'hour'}}
        %option{:value => "00"} 12 AM
        %option{:value => "01"} 01 AM
        %option{:value => "02"} 02 AM
        %option{:value => "03"} 03 AM
        %option{:value => "04"} 04 AM
        %option{:value => "05"} 05 AM
        %option{:value => "06"} 06 AM
        %option{:value => "07"} 07 AM
        %option{:value => "08"} 08 AM
        %option{:value => "09"} 09 AM
        %option{:value => "10"} 10 AM
        %option{:value => "11"} 11 AM
        %option{:value => "12"} 12 PM
        %option{:value => "13"} 01 PM
        %option{:value => "14"} 02 PM
        %option{:value => "15"} 03 PM
        %option{:value => "16"} 04 PM
        %option{:value => "17"} 05 PM
        %option{:selected => "selected", :value => "18"} 06 PM
        %option{:value => "19"} 07 PM
        %option{:value => "20"} 08 PM
        %option{:value => "21"} 09 PM
        %option{:value => "22"} 10 PM
        %option{:value => "23"} 11 PM
      -# = f.time_select :email_time, {ampm: true, minute_step: 15}
      %select#campaign_email_time_5i{ng: {model: 'minute'}}
        %option{:value => "00"} 00
        %option{:value => "15"} 15
        %option{:value => "30"} 30
        %option{:value => "45"} 45
      -# = f.select :time_zone, options_for_select([ActiveSupport::TimeZone['Pacific Time (US & Canada)'], ActiveSupport::TimeZone['Arizona'], ActiveSupport::TimeZone['Mountain Time (US & Canada)'], ActiveSupport::TimeZone['Central Time (US & Canada)'], ActiveSupport::TimeZone['Eastern Time (US & Canada)']], '(GMT-07:00) Arizona'), {}, {style: 'max-width:100px'}
      %select#campaign_time_zone{ng: {model: 'time_zone'}, :name => "campaign[time_zone]", style: 'max-width:100px'}
        %option{:value => "-0800"} (GMT-08:00) Pacific Time (US & Canada)
        %option{:selected => "selected", :value => "-07:00"} (GMT-07:00) Arizona
        %option{:value => "-0700"} (GMT-07:00) Mountain Time (US & Canada)
        %option{:value => "-0600"} (GMT-06:00) Central Time (US & Canada)
        %option{:value => "-0500"} (GMT-05:00) Eastern Time (US & Canada)
  
  .row
    .col-xs-12
      .box-header
      
        %h4{style: 'padding-top:10px'} Send on Trigger

        %ul#campaign-trigger.nav.nav-tabs
          %li.active
            %a{data: {toggle: 'tab'}, :href => "#mileage_interval"} Mileage interval
          %li
            %a{data: {toggle: 'tab'}, :href => "#service_notifications"} Service issue
          %li
            %a{data: {toggle: 'tab'}, :href => "#odometer_gte"} Odometer
          %li
            %a{data: {toggle: 'tab'}, :href => "#distance_to_dealer_below"} Distance to dealer
      .panel-body
        .tab-content.form-signin
          #mileage_interval.tab-pane.active
            -# = f.text_field :on_mileage_reached, class: 'form-control hidden', 'ng-value' => "onMileageReachedFormatted()"
            .row
              .col-xs-12
                .radio
                  %label
                    %input{type: 'radio', ng: {model: 'campaign.mileage_interval_pct'}, value: 1.0} at mileage
                .radio
                  %label
                    %input{type: 'radio', ng: {model: 'campaign.mileage_interval_pct'}, value: 0.9} 10% before
            .row
              .col-xs-12
                -# %select{ng: {model: 'campaign.mileage_interval', options: 'option.name for option in mileageIntervalOptions'}}
                %select{ng: {model: 'campaign.mileage_interval'}}
                  %option{value: '20'} every 20 miles
                  %option{value: '3000'} every 3000 miles
                  %option{value: '10000'} every 10000 miles
                  %option{value: '20000'} every 20000 miles
        
          #service_notifications.tab-pane
            .row

              .col-xs-12{ng: {repeat: "service_notification in allServiceNotifications"}}
                %input{ng: {checked: 'checkedServiceNotificationsInclude(service_notification)', click: "toggleServiceNotification(service_notification)"}, type: 'checkbox', value: "{{ service_notification }}", name: 'campaign[service_notifications][]'}
                {{ service_notification }}
              
            -# for service_notification in Campaign::SERVICE_NOTIFICATIONS
              -# = check_box_tag "campaign[service_notifications][]", service_notification, @campaign.service_notifications.include?(service_notification)
              -# = service_notification.humanize
                  
          #odometer_gte.tab-pane
            -# = f.text_field :mileage_below, class: 'form-control', type: 'number', 'placeholder' => 'i.e. 50000'
            %input.form-control{ng: {model: 'campaign.odometer_gte'}, type: 'number', placeholder: 'i.e. 50000'}
            %p.help-block{ng: {show: "new_campaign_form.$error.number"}} Enter a valid number
            
          #distance_to_dealer_below.tab-pane
            -# = f.select :distance_to_dealer_below, options_for_select([['less than 30 miles', 30], ['31 - 100 miles', 100], ['More than 100 miles', 999999]], @campaign.distance_to_dealer_below)
            %select#campaign_distance_to_dealer_below{ng: {model: 'campaign.distance_to_dealer_below'}, :name => "campaign[distance_to_dealer_below]"}
              %option{:value => "30"} less than 30 miles
              %option{:value => "100"} 31 - 100 miles
              %option{:value => "999999"} More than 100 miles

    
    
  .row
    .col-xs-12
      -# = f.submit 'Save', class: 'btn btn-primary'
      %input.btn.btn-primary{type: 'submit', value: 'Save'}
      %a.btn.btn-danger{ng: {show: 'currentlyEditing', click: 'resetCampaign()'}, href: '#'} Cancel
  
  
