%p#notice= notice

%p
  %b Name:
  = @campaign.name
%p
  %b Start date:
  = @campaign.start_date
%p
  %b End date:
  = @campaign.end_date
%p
  %b Nbr of emails sent:
  = @campaign.nbr_of_emails_sent
%p
  %b Status:
  = @campaign.status
%p
  %b Coupon codes:
  = @campaign.coupon_codes
%p
  %b Email time:
  = @campaign.email_time
%p
  %b Time zone:
  = @campaign.time_zone
%p
  %b Condition mileage gte:
  = @campaign.condition_mileage_gte
%p
  %b Condition device has dtc:
  = @campaign.condition_device_has_dtc
%p
  %b Condition has low batt:
  = @campaign.condition_has_low_batt

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
