!!!
%html
  %head
    %title ZinLot
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    = cms_snippet_content(:fonts, Cms::Site.find_by_hostname('zinlot.com'))
    = load_netzke theme: 'all-gray'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = cms_snippet_content(:pure, Cms::Site.find_by_hostname('zinlot.com'))
    = cms_snippet_content(:pure_sites_css, Cms::Site.find_by_hostname('zinlot.com'))
    = cms_snippet_content(:application_css, Cms::Site.find_by_hostname('zinlot.com'))
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #layout.pure-g-r
      #main.pure-u
        %a#menuLink.pure-menu-link
          %img{ width:20, src:'http://dl.dropbox.com/u/20868114/threelines_vw.png' }
        %p.notice= notice
        %p.alert= alert

        #menu.pure-u
          .pure-menu.pure-menu-open
            %a.pure-menu-heading{href:'/'} ZinLot

            %ul
              %li
                %a{href:'/'} Dashboard
              %li
                %a{href:'/live-location'} Live Inventory
              %li
                %a{href:'#'}
                  Alerts
                  %span.ui-li-count New
              %li
                %a{href:'/test-drives'} Test Drives
              %li
                %a{href:'#'} Reports
              %li
                %a{href:'#'} Campaign Manager
              %li
                %a{href:'#'} Setup
              %li.menu-item-divided
                %a{href:'/cars'} Cars
              %li
                %a{href:'/devices'} Devices
              %li
                %a{href:'/geofences'} Geofences
        = yield
        = cms_snippet_content(:application_js, Cms::Site.find_by_hostname('zinlot.com'))