!!!
%html{ng: {app: "#{yield :ng_app}"}}
  %head
    %title ZinLot
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu+Condensed", media: "all"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "https://d3dy5gmtp8yhk7.cloudfront.net/2.1/pusher.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "http://code.highcharts.com/modules/exporting.js"
    - if Rails.env == 'development'
      = javascript_include_tag 'pusher_reload'
    = csrf_meta_tags
  %body{id: controller_name, class: action_name}
    #layout
      #menu
        = render 'menu'

      .col-xs-12{style: 'height:100%'}
        - if notice
          #notice.animated.bounceInDown.ac{style: 'z-index:999; position:absolute; padding:20px 10px; border-radius:10px 10px 10px 10px; background-color: rgba(0,0,0,0.8); color: white; width: 350px'}= notice
          
          :coffeescript
            setTimeout ->
              $('#notice').addClass('bounceOutUp')
            , 3000
            
        = yield