!!!
%html
  %head
    %title ZinLot
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "jqm_custom", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %div{data: { ajax:'false', role:'page' }, id: "#{controller_name}-#{action_name}"}
      %div.jqm-header{data: { role:'header', theme:'c' }}
        %h1
          %a#logo{href:'/'} ZinLot
        %a.jqm-navmenu-link{href: "##{controller_name}-#{action_name}-navmenu", data: { icon:'bars', iconpos:'notext' }}
      .nav-menu{data: { role:'panel' }, id: "#{controller_name}-#{action_name}-navmenu"}
        %ul.jqm-list{data: { icon:'false', role:'listview', theme:'d' }}
          %li
            %a{href:'/'} Dashboard
          %li
            %a{href:'#'} Live Location
          %li
            %a{href:'#'}
              Alerts
              %span.ui-li-count New
          %li
            %a{href:'/test-drives'} Test Drives
          %li
            %a{href:'#'} Reports
          %li
            %a{href:'#'} Campaign Manager
          %li
            %a{href:'#'} Setup
          %li
            %a{href:'/vehicles'} Vehicle Inventory
      = yield